body {
    font-family: Arial, Helvetica, sans-serif
}

.links>a {
    text-decoration: unset;
    color: white;
}

.button {
    border-radius: 100px;
    color: white;
    background-color: black;
    padding: 1em;
}

.header-bg-color {
    background-color: lightskyblue;
    background-image: var(--bs-gradient);
}

.main-bg-color {
    background-color: whitesmoke;
}

.main-txt-color {
    color: rgb(97, 97, 97);
}

.footer-bg-color {
    background-color: dimgrey;
}